@import "src/game/homePage/styles/homePageMainOptions";
@import "src/game/homePage/styles/homePageMainCurrency";
@import "dedicatedItemPageItemInfoStyles";
@import "_dedicatedItemPageItemSelection";

.dedicatedItemPage {
  position: relative;
  box-sizing: border-box;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    box-sizing: border-box;
    overflow: hidden;
    background: #0F1108;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: .5rem;
    width: 100%;
    height: 90%;
    max-width: 1400px;

    .specialItemContainer {
      box-sizing: border-box;
      margin-top: 100px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}