$activeColor: #27ae60;
$darkenColor: darken($activeColor, 20%);
$background: #3498db;


.itemInfo {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .itemInfoHeader {
    color: white;
    //background: #00b3ff;
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemInfDetails {
    //background: #00b3ff;
    color: white;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;

    &_type {
      width: 100%;
      height: 10%;
      padding: 1rem 0;
      border-bottom: 1px solid white;
      text-align: center;
    }

    &_details {
      //background: #8b1b4d;
      //border: 2px solid black;
      width: 100%;
      height: 50%;
      padding: 1rem 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;

      &_attributes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &_container {
          color: white;
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: row;
          //border: 2px solid black;
          padding: 1rem;

          &_pic {
            width: 10rem;
            height: 10rem;
            //background: #00ffc4;
            margin-right: 1rem;
          }

          &_stats {
            //background: #00ffc4;
            //border: 2px solid black;
            height: 100%;
            width: 9rem;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .stat {
              margin-bottom: 1rem;
            }
          }

          &_numbers {
            color: white;
            //background: #00ffc4;
            //border: 2px solid black;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
        }
      }
    }

    &_itemOptions {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      color: white;
      width: 100%;
      height: 10%;
      padding: 1rem 0;
      text-align: center;
    }

    &_options {
      //background: orange;
      width: 100%;
      height: 30%;
      border: 2px solid black;
      text-align: center;
      display: flex;
      flex-direction: column;

      &_elements {
        color: white;
        //background: #00ffc4;
        display: flex;
        flex-direction: row;
        border: 2px solid black;
        padding: 1rem;

        &_checkbox {
          //background: white;
          border: 2px solid black;
          height: 2rem;
          width: 2rem;
          margin-left: 1rem;
          margin-right: 1rem;

          /* .checkbox */
          .roundedOne {
            width: 28px;
            height: 28px;
            position: relative;
            margin: auto;
            background: #fcfff4;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 50px;
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);

            label {
              width: 20px;
              height: 20px;
              cursor: pointer;
              position: absolute;
              left: 4px;
              top: 4px;
              background: linear-gradient(top, #222 0%, #45484d 100%);
              border-radius: 50px;
              box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);

              &:after {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                top: 2px;
                left: 2px;
                background: $activeColor;
                background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
                opacity: 0;
                border-radius: 50px;
                box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
              }

              &:hover::after {
                opacity: 0.3;
              }
            }

            input[type=checkbox] {
              visibility: hidden;

              &:checked + label:after {
                opacity: 1;
              }
            }
          }
        }

        &_description {
          display: flex;
          //background: white;
          border: 2px solid black;
          height: 2rem;
          width: 100%;
          margin-left: 1rem;
          margin-right: 1rem;
          padding: 0 1rem;
        }
      }
    }
  }
}
