@import "src/theme/style";

.signOutButton {
  background: transparent;
  font-family: $font-main;
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border: none;

  &_container {
    position: relative;

    &_button {
      background: transparent;
      border: none;
      transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    }
  }
}

.logout-svg {
  height: 40px;
  background: transparent;

  &:hover {
    color: $defaultBlueColor;
    transform: scale(1.03);
  }
}
