@import "homePageMainLinks";
@import "homePageMainCurrency";
@import "homePageMainEvents";
@import "homePageMainOptions";

.homePage {
  position: relative;
  box-sizing: border-box;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    box-sizing: border-box;
    overflow: hidden;
    background: #0F1108;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: .5rem;
    width: 100%;
    height: 90%;
    max-height: 900px;
    max-width: 1400px;

    .myInfo {
      box-sizing: border-box;
      position: absolute;
      width: 355px;
      border: 3px solid white;
      height: 96%;
      z-index: 100;

      .내정보 {
        height: 100%;
      }
    }

    .specialItem {
      color:white;
      //background: red;
      position: absolute;

      top: 8rem;
      left: 2rem;
      &_item {
        height: 8rem;

      }
    }

    .topbar {
      height: 100px;
      border: 2px solid white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 01rem;
    }

    .middleSectionA {
      box-sizing: border-box;
      margin-top: 110px;
      height: 120px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .eventsSectionA {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        padding-right: 1rem;

        .세나의달신규복귀꼴팁Container {
          width: 80px;
          margin-right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .세나의달신규복귀꼴팁 {
            margin-top: auto;
          }

          .text {
            color: white;
            text-align: center;
            width: 100%;
          }
        }

        .시간여행자의이야기Container {
          width: 80px;
          margin-right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .시간여행자의이야기 {
            margin-top: auto;
          }

          .text {
            color: white;
            text-align: center;
            width: 100%;
          }
        }

        .이벤트Container {
          width: 80px;
          margin-right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .이벤트 {
            margin-top: auto;
          }

          .text {
            color: white;
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    .middleSectionB {
      box-sizing: border-box;
      margin-top: 5rem;
      height: 310px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 2px solid orange;
      padding: 0 1rem;

      .eventsSectionB {
        border: 2px solid fuchsia;
        color: white;
        display: flex;
        flex-direction: column;
      }

      .eventsSectionC {
        border: 2px solid fuchsia;
        color: white;
        display: flex;
        flex-direction: column;
        .오늘의소식Container {
          width: 80px;
          margin-right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .전투 {
            margin-top: auto;
          }

          .text {
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    .playerLevel {
      width: 280px;
      height: 80px;
    }
  }
}
