.mainEvents {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  display: flex;
  flex-direction: row;

  .전투Container {
    width: 80px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .전투 {
      margin-top: auto;
    }

    .text {
      text-align: center;
      width: 100%;
    }
  }

  .대전 {
    padding-right: 1rem;
    width: 90px;
  }

  .성장 {
    padding-right: 1rem;
    width: 90px;
  }

  .모험 {
    padding-right: 1rem;
    width: 90px;
  }
}
