.mainEvents {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;

  .전투 {
    padding-right: 1rem;
    width: 90px;
  }

  .대전 {
    padding-right: 1rem;
    width: 90px;
  }

  .성장 {
    padding-right: 1rem;
    width: 90px;
  }

  .모험 {
    padding-right: 1rem;
    width: 90px;
  }
}
