.homePage {
  position: relative;
  box-sizing: border-box;
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    overflow: hidden;
    background: #0F1108;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: .5rem;
    width: 90%;
    max-width: 1400px;
    height: 80%;
    padding: 1rem;

    .myInfo {
      box-sizing: border-box;
      background: red;
      position: absolute;
      width: 355px;
      border: 3px solid white;
      height: 96%;
      z-index: 100;

      .내정보 {
        height: 100%;
        //display: none;
      }
    }

    .eventsSection {
      position: absolute;
      right: 1rem;
      top: 5rem;
      display: flex;
      flex-direction: row;
    }

    .eventsSectionB{
      color: white;
      position: absolute;
      left: 1rem;
      top: 15rem;
      display: flex;
      flex-direction: column;
    }
    .eventsSectionC{
      color: white;
      position: absolute;
      right: 1rem;
      top: 15rem;
      display: flex;
      flex-direction: column;
    }

    .playerLevel {
      width: 280px;
      height: 80px;
    }

    .mainCurrency {
      //background: #00b3ff;
      height: fit-content;
      width: fit-content;
      margin-left: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .keys {
        width: 180px;
        height: 40px;
        padding-left: 1rem;
      }

      .coins {
        width: 180px;
        height: 40px;
        padding-left: 1rem;
      }

      .rubies {
        width: 180px;
        height: 40px;
        padding-left: 1rem;
      }
    }

    .mainOptions {
      //background: #00b3ff;
      height: fit-content;
      width: fit-content;
      margin-left: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .settings {
      }

      .mail {
        padding-left: 1rem;
      }

      .chat {
        padding-left: 1rem;
      }

      .treasure {
        padding-left: 1rem;
      }
    }

    .mainLinks {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: white;

      .영웅 {
        width: 80px;
        padding-right: 1rem;
      }

      .엽젹 {
        padding-right: 1rem;
        width: 80px;
      }

      .소셜 {
        padding-right: 1rem;
        width: 80px;
      }

      .길드 {
        padding-right: 1rem;
        width: 80px;
        width: 80px;
      }

      .콘텐츠 {
        padding-right: 1rem;
        width: 80px;
        width: 80px;
      }

      .소환상점 {
        padding-right: 1rem;
        width: 80px;
      }

      .상점 {
        padding-right: 1rem;
        width: 80px;
      }

      .버프상점 {
        width: 80px;

      }
    }

    .mainEvents {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      color: white;

      .전투 {
        padding-right: 1rem;
        width: 90px;
      }

      .대전 {
        padding-right: 1rem;
        width: 90px;
      }

      .성장 {
        padding-right: 1rem;
        width: 90px;
      }

      .모험 {
        padding-right: 1rem;
        width: 90px;
      }
    }
  }
}