@import "src/theme/style";

$backdrop-color: rgba(0, 0, 0, 0.7);
$gradient: radial-gradient(
                ellipse at center,
                rgb(203, 202, 202) 0%,
                rgb(152, 152, 152) 100%
);
$black-font: #000;
$xp-text-color: black;
$borderStyle: black solid 2px;

.profile {overflow: hidden;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &_headerLabel {
    font-size: 4.5rem;
    background: #FEE01C;
    position: absolute;
    top: 3rem;
    transform-origin: 0 0;
    z-index: 20;
    text-transform: uppercase;
    transform: rotate(-5deg);
  }

  .profileInfo {
    box-sizing: border-box;
    //background: #4242a2;
    //border: $borderStyle;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 80%;
    padding: 20px;

    &_title {
      border: $borderStyle;
      background: #0086e4;
      color: #0d0c22;
      font-size: 2.9rem;
      font-weight: 600;
      z-index: 50;
      width: fit-content;
      text-transform: uppercase;
      transform: rotate(-5deg);
      transform-origin: 0 0;
    }

    &_container {
      border: $borderStyle;
      position: absolute;
      //background: #FEE01C;
      height: fit-content;
      width: 100%;
      margin-top: 3rem;

      &_avatarSection {
        border: $borderStyle;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 200px;

        &_rank {
          border: $borderStyle;

          display: flex;
          flex-direction: column;

          &__number {
            color: black;
            font-size: 4.5rem;
          }

          &__text {
            color: #686d7a;
            font-size: 2.5rem;
          }
        }

        &_imageSection {
          border: $borderStyle;
          display: flex;
          width: fit-content;

          &_playerLevel {
            font-size: 1.3rem;
            background-color: #0086e4;
            border-radius: 8px;
            height: fit-content;
            position: absolute;
            padding: 0 4px;
            bottom: 3%;
            right: 15%;
            z-index: 200;
            transform: rotate(-5deg);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.22), 0 3px 4px rgba(0, 0, 0, 0.24);

            &__info {
              color: white;
            }
          }

          &_imageContainer {
            border: $borderStyle;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            overflow: hidden;
            height: 180px;
            width: 180px;
            margin-right: 1rem;
            border-radius: 8px;
            transform: rotate(-5deg);
            transform-origin: 0 0;
            vertical-align: middle;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.52), 0 3px 4px rgba(0, 0, 0, 0.44);

            &_image {
              display: block;
              object-fit: cover;
              height: 190px;
              width: 190px;
              transform: rotate(5deg);
            }
          }
        }
      }

      &_playerStatus {
        border: $borderStyle;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 3rem;

        &__text {
          //background-color: chartreuse;
        }

        &__data {
          //background-color: coral;
        }
      }

      &_xp {
        border: $borderStyle;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 120px;
        padding: 0 4rem;

        &_bar {
          margin-top: 1rem;
          position: relative;
          box-sizing: border-box;
          background-color: #2a75f3;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          height: 50px;
          width: 100%;

          &_top {
            border: $borderStyle;
            background-color: greenyellow;
            position: absolute;
            display: flex;
            align-items: center;
            left: 0;
            border-radius: 8px;
            height: 30px;
            width: 90%;
            z-index: 100;

            &__number {
              position: absolute;
              left: 8px;
              margin-right: 4px;
            }
          }

          &_bottom {
            border: $borderStyle;
            position: absolute;
            display: flex;
            align-items: center;
            border-radius: 8px;
            height: 50px;
            width: 100%;
            z-index: 20;

            &__number {
              //background-color: tomato;
              position: absolute;
              right: 8px;
              margin-right: 4px;
            }
          }
        }

        &_details {
          border: $borderStyle;
          background: #FEE01C;
          margin-top: .5rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &_currentXp {
            display: flex;
            flex-direction: row;

            &__from {
              color: $xp-text-color;
              margin: 0;
              padding: 0;
            }

            &__to {
              color: $xp-text-color;
              margin: 0;
              padding-left: 8px;
            }
          }

          &_levelUp {
            display: flex;
            flex-direction: row;

            &__from {
              color: $xp-text-color;
              margin: 0;
              padding: 0;
            }

            &__to {
              color: $xp-text-color;
              margin: 0;
              padding-left: 8px;
            }
          }
        }
      }

      &_percentageStats {
        border: black solid 2px;

        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        &_allGames {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__label {
            color: #0d0c22;
          }

          &__number {
            font-size: 1.5rem;
            color: $black-font;
          }
        }

        &_loseRate {
          color: $black-font;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__label {
            color: #0d0c22;
          }

          &__number {
            font-size: 1.5rem;
            color: $black-font;
          }
        }

        &_winRate {
          color: $black-font;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__label {
            color: #0d0c22;
          }

          &__number {
            font-size: 1.5rem;
            color: $black-font;
          }
        }
      }

      &_gamePlayStats {
        border: black solid 2px;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        &_wins {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__label {
            color: #0d0c22;
          }

          &__number {
            color: $black-font;
            font-size: 1.5rem;
          }
        }

        &_ties {
          color: $black-font;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__label {
            color: #0d0c22;
          }

          &__number {
            font-size: 1.5rem;
            color: $black-font;
          }
        }

        &_loses {
          color: $black-font;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__label {
            color: #0d0c22;
          }

          &__number {
            font-size: 1.5rem;
            color: $black-font;
          }
        }
      }


      &_badges {
        border: black solid 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 0 4rem;
        margin-top: .5rem;

        &__title {
          display: flex;
          align-self: flex-start;
        }

        &_element {
          margin-top: .5rem;
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;

          &__badge {
            background-color: greenyellow;
            height: 52px;
            padding: 0 4px;
            border-radius: 8px;
            border: black 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: .5rem;
          }
        }
      }
    }
  }
}
