/* global font style */
@font-face {
  font-family: 'operatorMonoBoldItalic';
  src: url("../../../../theme/fonts/operatorMono/OperatorMono-BoldItalic.woff") format("woff");
}

/* global variables */
$font-main: 'operatorMonoBoldItalic', sans-serif;
$color1: #dbe6e6;
$color2:#ffc5a2;
$color3: #dc5f45;
$color4: #5f9042;
$color4: #ffa873;

/* clear default styling */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-main;
  box-sizing: border-box;
}

#world {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color1;
  overflow: hidden;

  #gameoverInstructions {
    position: absolute;
    font-family: $font-main;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120px;
    text-align: center;
    color: $color2;
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -100%);
    user-select: none;
    transition: all 500ms ease-in-out;

    &.show {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: all 500ms ease-in-out;
    };
  }

  #dist {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
    user-select: none;

    .label {
      position: relative;
      font-family: $font-main;
      text-transform: uppercase;
      color: $color4;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 5px;
    }

    #distValue {
      position: relative;
      text-transform: uppercase;
      color: $color3;
      font-size: 40px;
      font-family: $font-main;
      text-align: center;
    }
  }

  #instructions {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 50px;
    font-family: $font-main;
    color: $color3;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
  }

  .lightInstructions {
    color: $color4;
  }

  #button {
    color: $color3;
    font-family: $font-main;
    background: transparent;
    border: $color3 solid 2px;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.05);
      color: black;
      background: lighten($color3, 10%);
    }
  }

  #highScore {
    position: absolute;
    top: 2rem;
    right: 3.5rem;
    color: $color2;
    font-family: $font-main;
    font-size: 2rem;
  }
}

.stats {
  border: #dc5f45 2px solid;
  border-radius: .5rem;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  .statsContainer{
    display: flex;
    justify-content: space-between;
  }
  .statsLabel{
    display: flex;
  }
  #polyCountValue{

  }
}
