.loader{
  height: 100%;
  background-color:#000;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContainer{
  width:600px;
  height:600px;
}

.flask{
  stroke:#f7f7f7;
}
.liquidBack{
  fill:#0248AD;
}

.pop{
  stroke:#005DE9;
}

.darkBubbleGroup{
  fill:#171717;
}
