@import "src/theme/style";

.projectDragContainer {
  background: transparent;
  padding: 1rem;
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  float: left;
  transition: 0.3s;

  &_area {
    transition: 0.3s;
    user-select: none;
    overflow: auto;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
