.userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 66px;
  width: 66px;
  border: 1px solid black;
  border-radius: 8px;
  transform: rotate(-5deg);
  transform-origin: 0 0;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32), 0 1px 2px rgba(0, 0, 0, 0.24);

  &__img {
    display: block;
    object-fit: cover;
    height: 66px;
    width: 66px;
    transform: rotate(5deg);
  }
}
