$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%);
$background: #3498db;
$koreanColor: #3498db;


.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 1rem;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

  &:after {
    content: 'KO';
    color: $koreanColor;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
  }

  &:before {
    content: 'EN';
    color: $activeColor;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }

  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label {
      left: 43px;
    }
  }
}

/* end .slideThree */


// ** Page Styling - Nothing to do with the Radio Buttons **
* {
  box-sizing: border-box;
}

body {
  background: $background;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  h1, h2, em {
    color: #eee;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 0 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px #000;
  }

  em {
    font-size: 14px;
    text-align: center;
    display: block;
    margin-bottom: 50px;
  }

  section {
    width: 100px;
    height: 100px;
    background: #555;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;

    &:after {
      /*         visibility: hidden; */
      content: attr(title);
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 3px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      text-shadow: 0px 1px #000;
    }
  }

}
