
.view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEF2CB;
}

.coinContainer {
  width: 500px;
  height: 500px;
}

.st0 {
  opacity: 7.000000e-02;
}

.st1 {
  enable-background: new;
}

.st2 {
  fill: #FFD10A;
}

.st3 {
  fill: #FFCB05;
}

.st4 {
  fill: #ED9B21;
}

.st5 {
  fill: #D6EDE9;
}

.st6 {
  fill: #B4B4B4;
}

.st7 {
  fill: #E8A075;
}

.st8 {
  fill: #A37456;
}
