@import "src/theme/style";
.userAvatar {
  border: $borderStyle;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  transform: rotate(-5deg);
  transform-origin: 0 0;
  vertical-align: middle;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.52), 0 3px 4px rgba(0, 0, 0, 0.44);

  &__image {
    display: block;
    object-fit: cover;
    height: 100px;
    width: 100px;
    transform: rotate(5deg);
  }
}
