.single {
  border: #0086e4 3px solid;
  height: 100%;
  display: flex;

  .singleContainer {
    background: #5f9042;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .singlePreview {
      background: #FEE01C;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        background: #dc5f45;
        width: 100%;
        height: 90%;
      }
    }

    .singleDescription {
      border: #0086e4 solid 3px;
      height: 100%;
      width: 40%;
      background: #e73c7e;

      .back {
        color: white;
        position: absolute;
        top: 50px;
        right: 2rem;
        font-size: 54px;
        z-index: 1;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
