/* global font style */
@font-face {
  font-family: 'operatorMonoBoldItalic';
  src: url("./fonts/operatorMono/OperatorMono-BoldItalic.woff") format("woff");
}
$font-main: 'operatorMonoBoldItalic', sans-serif;

/* color variables */
$background-color: linear-gradient(to bottom, #f9fbf7, #C9D8FF);
$lightcoral: lighten(coral, 10%);
$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;
$primary-color: $blue;
$border-color: #dddddd;
$title-color: #626262;
$label-font-size: 1rem;
$defaultBlueColor: #0086e4;
$gradientBackground: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$gradientDarkTheme: linear-gradient(-45deg, #353434, #6b6b6b, #676767);
$backgroundSize: 400% 400%;
$darkBackground:radial-gradient(at center bottom, #4242a2, #282828);

/* Input */
$input-height: 40px;
$small-wrapper: 330px;

/* default styling */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-main;
}

* {
  box-sizing: border-box;
}
