@import "cardBeamKeyframes";
@import "src/theme/style";

$beam_duration: 0.8s;
$beam_hit_ground: ($beam_duration * 0.59);
$card_duration: 1s;
$card_hit_ground: (($card_duration * 0.3) + $beam_hit_ground);
$card_enable_mirror: (($card_duration * 0.25) + $beam_hit_ground);
$ground_explosion_duration: 0.7s;
$back_explosion_duration: 0.3s;
$debris_explosion_duration: 0.4s;
$pyro_explosion_duration: 0.6s;
$star_twinkle_delay: $card_hit_ground + $ground_explosion_duration;
$star_twinkle_duration: 1s;

:root {
  --background: url("../../assets/_card/델론즈.png");
}


.animationButton {
  color: black;
  font-family: $font-main;
  background: #00b3ff;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border-radius: .25rem;
}

.victory {
  background: black;
  width: 100%;
  height: 100%;
}

#header {
  font-family: "Macondo", cursive;
  font-size: 3em;
  position: absolute;
  top: 10%;
  left: 50%;
  color: darken(orange, 10%);
  transform: translate(-50%, -20%);
  white-space: nowrap;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2),
  -2px -2px 2px rgba(55, 55, 55, 0.4);
}

.parent {
  background: purple;
  display: flex;
  width: 70%;
  margin: 0 auto;

  &:after {
    position: absolute;
    content: "";
    height: 70vh;
    width: inherit;
    top: -30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 50px 50px -51px rgba(0, 0, 0, 0.55);
    z-index: -1;
  }
}

.beamcard {
  background: pink;
  position: relative;
  box-sizing: border-box;
  width: 33%;
  min-width: 200px;
  height: 70vh;
  margin: auto;

  &:nth-child(1).active .card{
    background-image: url("../../assets/_card/린.png");
  }

  &:nth-child(1).active .card{
    background-image: url("../../assets/_card/연희.png");
  }

  &.active {
    .card {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 140px;
      height: 210px;
      border-radius: 5%;
      opacity: 0;
      transform-origin: 50% 100%;
      animation: cardsquash ($card_duration) ease-in forwards;
      animation-delay: ($beam_hit_ground);
      background-image: var(--background);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

      &:before {
        /* shine layer */
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        animation: cardshine 7s ease-in-out infinite;
        pointer-events: none;
      }

      &:after {
        /* Mirror layer */
        content: "";
        position: absolute;
        top: 100%;
        width: inherit;
        height: inherit;
        opacity: 0;
        background: inherit;
        transform: rotateX(180deg);
        box-shadow: inset 0 180px 40px -12px #252327;
        animation: cardmirror ($card_duration - $card_enable_mirror) ease-in forwards;
        animation-delay: ($card_enable_mirror);
        pointer-events: none;
      }

      .star {
        position: absolute;
        top: 2px;
        right: 4px;
        animation: movestar ($star_twinkle_duration/2) linear forwards;
        animation-delay: ($star_twinkle_delay);
      }

      .star:before {
        position: absolute;
        animation: startwinkle ($star_twinkle_duration) linear forwards;
        animation-delay: ($star_twinkle_delay);
        background: linear-gradient(-5deg, white 2%, rgba(255, 255, 255, 0) 8%) 0 0/50% 50%,
        linear-gradient(-85deg, white 2%, rgba(255, 255, 255, 0) 8%) 0 0/50% 50%,
        linear-gradient(5deg, white 2%, rgba(255, 255, 255, 0) 8%) 100% 0/50% 50%,
        linear-gradient(85deg, white 2%, rgba(255, 255, 255, 0) 8%) 100% 0/50% 50%,
        linear-gradient(5deg, rgba(255, 255, 255, 0) 92%, white 98%) 0 100%/50% 50%,
        linear-gradient(85deg, rgba(255, 255, 255, 0) 92%, white 98%) 0 100%/50% 50%,
        linear-gradient(-5deg, rgba(255, 255, 255, 0) 92%, white 98%) 100% 100%/50% 50%,
        linear-gradient(-85deg, rgba(255, 255, 255, 0) 92%, white 98%) 100% 100%/50% 50%;
        background-repeat: no-repeat;
        content: "";
        display: block;
        width: 4em;
        height: 4em;
        top: -2em;
        left: -2em;
        transform: rotate(0) scale(0);
      }
    }

    .beam {
      position: absolute;
      top: -100%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 100px;
      min-height: 100%;
      background: white;
      box-shadow: 20px 20px 50px aqua, -20px 20px 50px aqua;
      animation: firebeam ($beam_duration) ease-in forwards;
    }

    .back {
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background: white;
      top: 50%;
      left: 50%;
      opacity: 0;
      box-shadow: 0 0 30px 30px white, inset 0 0 1px 1px white;
      transform: translatex(-50%);
      animation: backexplosion ($back_explosion_duration) ease-out;
      animation-delay: ($card_hit_ground);
    }

    .ground {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translatex(-50%);
      opacity: 0;
      background: #fff;
      width: 500px;
      height: 20px;
      border-radius: 50%;
      box-shadow: 20px 0 10px 2px #fff, -20px 0 10px 2px #fff,
      inset 0 0 1px 1px #fff;
      animation: groundexplosion ($ground_explosion_duration) ease-in forwards;
      animation-delay: ($beam_hit_ground);
    }

    .pyro {
      > .before, > .after {
        position: absolute;
        width: 5px;
        height: 5px;
        top: 98%;
        opacity: 0;
        margin-left: 50%;
        border-radius: 50%;
        box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
        animation: ($pyro_explosion_duration) pyrobang ease-out forwards, ($pyro_explosion_duration) pyrogravity ease-in forwards;
        animation-delay: $card_hit_ground, $card_hit_ground;
      }

      > .after {
        animation-duration: ($pyro_explosion_duration/1.3), ($pyro_explosion_duration/1.3);
      }
    }

    .debris {
      /* Centering */
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translate(-50%, 35px) rotate(180deg) translatex(-10px);

      > div {
        /* Rotation */
        position: absolute;
        transform-origin: center 70px;

        div {
          width: 20px;
          height: 70px;
          opacity: 0;
          background: radial-gradient(
                          ellipse at center,
                          rgba(255, 255, 255, 1) 0%,
                          rgba(255, 255, 255, 1) 21%,
                          rgba(255, 255, 255, 0.8) 22%,
                          rgba(0, 255, 255, 0.6) 23%,
                          rgba(0, 255, 255, 0) 60%,
                          rgba(0, 255, 255, 0) 100%
          );
          animation: debrisexplosion ($debris_explosion_duration) ease-out forwards;
          animation-delay: ($card_hit_ground);
          animation-timing-function: cubic-bezier(0.16, 0.02, 1, 0.59);

          &:before,
          &:after {
            content: "";
            position: absolute;
            background: inherit;
            width: inherit;
            height: inherit;
          }

          &:before {
            transform: scale(1.4, 0.8) translateY(-110%);
          }

          &:after {
            transform: scale(1.7, 1) translateY(-160%);
          }
        }

        &:nth-child(1) {
          transform: rotate(115deg);
        }

        &:nth-child(2) {
          transform: rotate(-103deg);
        }

        &:nth-child(3) {
          transform: rotate(-130deg) scale(0.8);
        }

        &:nth-child(4) {
          transform: rotate(135deg) scale(0.8);
        }

        &:nth-child(5) {
          transform: rotate(171deg) scale(1.1);

          div {
            height: 50px;
            width: 30px;
          }
        }

        &:nth-child(6) {
          transform: rotate(-170deg) scale(0.8);

          div {
            height: 70px;
            width: 50px;
          }
        }
      }
    }
  }
}

