@import "src/theme/style";

.bevelFont {
  -webkit-text-stroke: 0.035em $text-color;
  -webkit-text-fill-color: transparent;
  color: rgba($text-color, 1);
  text-shadow: 0 0.025em 0.0375em $text-color,
  0 0 0 $bevel-color;
  font: $font-main 5em/1 sans-serif;
  position: relative;
  z-index: 0;
}

.leaderboard {
  background: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &_title {
    @extend .bevelFont;
    position: absolute;
    padding: .5rem !important;
    margin-top: .5rem !important;
    font-size: 3.9rem;
    font-weight: 600;
    z-index: 10;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-5deg);
  }

  &_leaders {
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4rem;
    width: 100%;
    height: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .leader {
    border-radius: 4px;
    background: $gradient;
    height: 100%;
    width: 100%;
    border: black solid 2px;
    padding: 8px 16px;
    margin-bottom: 8px;
    animation-name: revealLeaders;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    .leader-wrap {
      position: relative;
      width: 100%;
      background: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      transform: translateY(1rem);

      .globalRank {
        font-size: 1.3rem;
        position: absolute;
        right: 27%;
        transform: translateY(1rem);
      }

      .playerImage {
        position: absolute;
        right: 10%;
      }

      .leader-ava {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        height: 70px;
        width: 50px;
        padding-top: 16px;
        margin-right: 16px;
        position: relative;
      }

      .blank {
        background: transparent;
        width: 50px;
        margin-right: 4rem;
      }

      .leader-score svg {
        //color: #FEE01C;
        font-size: 1.3rem;
        display: block;
        margin-right: 4px;
      }

      .leader-score_title {
        font-size: 1.3rem;
        line-height: 1;
      }

      .leader-score {
        color: black;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        opacity: 0.6;
      }

      .leader-ava::after {
        content: "";
        left: 0;
        bottom: 0;
        display: block;
        height: 9px;
        width: 8px;
        position: absolute;
        border: 0px transparent solid;
        border-left-width: 20px;
        border-right-width: 20px;
        border-bottom-width: 9px;
        border-bottom-color: lighten(grey, 10%);
        transition: border-bottom-color .2s ease-in-out;
      }

    }

    .leader-bar {
      margin-top: 8px;
      margin-left: 7rem;
      animation-name: barLoad;
      animation-duration: .4s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
      transform-origin: left;
    }

    .bar {
      transform: translateY(1rem);

      height: 10px;
      border-radius: 2px;
    }

    &-content {
      .leader-name {
        font-size: 2rem;
      }
    }
  }
}




@keyframes revealLeaders {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes barLoad {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1)
  }
}
