@import "src/theme/style";
$backgroundColor: lighten(grey, 10%);

.notification {
  background: transparent;
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  right: 1rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 80%;
  z-index: 300;
  margin-bottom: 1rem;
  overflow: hidden;

  &_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    list-style: none;
    height: 100%;
    width: 100%;

    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 8px;
      background: $backgroundColor;
      height: 70px;
      width: 220px;
      margin-bottom: 1rem;

      &_message {
        //background-color: #3b5999;
        //color: #3b5999;
      }

      &_close {
        border: none;
        outline: none;
        position: absolute;
        top: 6px;
        right: 0;
        height: 32px;
        background-color: transparent;

        button {
          outline: none;
          -webkit-appearance: none;
          cursor: pointer;
        }
      }

      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.32), 0 3px 3px rgba(0, 0, 0, 0.34);

    }
  }
}
