@import "../components/mood/styles/moodStyles";

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: relative;
    color: white;
    width: 1000px;
    height: 500px;
    max-width: 1000px;
    padding: 1rem;
    border-radius: .25rem;
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .modalCloseButton {
      cursor: pointer;
      position: absolute;
      text-align: center;
      border: 3px solid white;
      background: black;
      border-radius: 10rem;
      width: 2.5rem;
      padding: .5rem;
      z-index: 10;
      right: -1rem;
      top: -1rem;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
        font-size: 1.1rem;
      }
    }

    .buttons {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: row;
    }

  }

}
