:root {
  --image: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg');
}

.carousel {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  cursor: initial;
  user-select: none;

  .carouselStage {
    position: relative;
    border: black 2px solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: transparent;
    transform-style: preserve-3d;
    user-select: none;


    .carouselContainer {
      background: transparent;
      position: absolute;
      perspective: 2000px;
      width: 310px;
      height: 500px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .carouselRing {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        user-select: none;

        .carouselCardContainer {
          border: whitesmoke solid 2px;
          box-sizing: border-box;
          position: absolute;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          user-select: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background 0.8s;

          .carouselImg {
            //background: transparent;
            transition: 1s;
            position: relative;
            width: 90%;
            height: 90%;
            transform-style: preserve-3d;
            user-select: none;
            background: var(--image) center center no-repeat;
            background-size: 300px;

            .carouselImgTitle {
              opacity: 0;
              font-size: 2rem;
              color: whitesmoke;
              background: rgba(0, 0, 0, 0.5);
              transition: 1s;
              position: absolute;
              top: 3rem;
              left: 1rem;
            }

            &:hover {
              background: var(--image) left center no-repeat;
              background-size: 600px;

              .carouselImgTitle {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
